:root{
    --primary: #474747;
    --secondary: #fafafa;
    --minimal: #5e5a59;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.dim{
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .3);
}
/* layout styles */

.content{
    display: grid;
    grid-template-rows: 1fr 9fr 1fr;
    /* height: fit-content; */
    background-color: var(--primary);
    color: var(--secondary);
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-column: 1 / span 1;
    padding: 0 10px;
    border-bottom: 3px solid var(--minimal);
    /* height: fit-content; */
    /* border: 1px solid var(--minimal); */
}
.links ul{
    display: flex;
    align-items: baseline;
    gap: 20px;
    padding: 0 20px;
    list-style-type: none;
    font-size: 20px;
}
.links .signupBtn{
    border: 1px solid var(--minimal);
    border-radius: 7px;
    background-color: var(--minimal);
    width: 150px;
    height: 35px;
    text-align: center;
    transition: background-color 0.2s, color 0.2s;
    padding: 3px 0 0 0;
}
.links .signupBtn:hover{
    cursor: pointer;
    background-color: var(--secondary);
    color: var(--primary);
}
.links .signinBtn{
    border: 1px solid var(--minimal);
    border-radius: 7px;
    width: 150px;
    height: 35px;
    text-align: center;
    transition: background-color 0.2s, color 0.2s;
    padding: 3px 0 0 0;
}
.links .signinBtn:hover{
    cursor: pointer;
    background-color: var(--secondary);
    color: var(--primary);
}

.main{
    /* grid-column: 1 / span 1; */
    grid-row: 2 / span 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* flex: 1; */
}

.footer{
    grid-column: 1 / span 1;
    background-color: var(--minimal);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    padding: 10px;
    /* height: max-content; */
}
.footer .socials{
    display: flex;
    gap: 20px;
}
.footer .socials p i{
    color: #f00;
}
.footer .socials ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    list-style-type: none;
    font-size: 20px;
}
.footer a {
    color: #fff;
}


/* form styles */
.popup{
    position: relative;
}

.addBookForm{
    display: none;
    border: 5px solid rgb(71, 67, 67);
    background-color: var(--secondary);
    padding: 20px;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
}
.addBookForm fieldset { 
    padding: 15px 30px ;
}
.addBookForm legend {
    color: white;
    background: var(--minimal);
    padding: 5px 10px;
}
.form-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 400px;
    width: max-content;
}
.form-content .fields{
    display: flex;
    flex-direction: column;
    gap: 35px;
    justify-content: flex-start;
    flex: 1;
}

.btns{
    display: flex;
    gap: 10px;
}

.form-content label{
    color: var(--minimal);
    display: block;
}
.form-content label[for="read"] {
    display: inline;
}
.form-content input{
    box-shadow: inset 1px 1px 3px #ccc;
    outline: 0;
    appearance: none;
    margin: 10px 5px;
    width: 100%;
    height: 30px;
    border-radius: 5px;
}

.form-content input[type="text"],
.form-content input[type="number"]
{  
    padding: 5px;
}

.form-content input:hover,
.form-content input:focus{
    background-color: #eee;
}

.form-content input + span{
    position: relative;
}
.form-content input:required+span::before{
    content: 'required';
    background-color: var(--minimal);
    color: var(--secondary);
    padding: 5px 15px;
    font-size: 10px;
    position: absolute;
    top: -65px;
    left: 240px;
}
.form-content input + span::after{
    position: absolute;
    top: -35px;
    left: 320px;
}
.form-content input:invalid{
    border: 2px solid red;
}
.form-content input:invalid + span::after{
    content: '✖';
    color: #f00;
}
.form-content input:valid + span::after{
    content: '✓';
    color: #0f0;
}

.form-content input[type="checkbox"]{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: 2px solid gray;
    vertical-align: -13px;
    outline: none;
}
.form-content input[type="checkbox"]::before{
    display: block;
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 6px;
    background-color: green;
    font-size: 1.2rem;
    transform: translate(3px, 3px) scale(0);
    transform-origin: center;
    transition: all 0.3s ease-in;
}
.form-content input[type="checkbox"]:checked:before{
    transform: translate(3px, 3px) scale(1);
    transition: all 0.3s cubic-bezier(0.25, 0.25, 0.56, 2);
}
.form-content label{
    font-weight: 700;
}

.addBook{
    outline: 0;
    width: 150px;
    height: 30px;
    border: 2px solid rgb(71, 67, 67);
    border-radius: 10px;
    background-color: #fff;
    font-weight: 700;
    transition: background-color 0.3s, color 0.3s ;
}
.addBook:hover{
    cursor: pointer;
    background-color: rgb(71, 67, 67);
    color: #fff;
}

.close{
    outline: 0;
    width: 150px;
    height: 30px;
    border: 2px solid red;
    border-radius: 10px;
    background-color: #fff;
    font-weight: 700;
    transition: background-color 0.3s, color 0.3s ;
}
.close:hover{
    cursor: pointer;
    background-color: red;
    color: #fff;
}
/* book cards */
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    width: 100%;
    height: min-content;
    padding: 20px;    
}
.card{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    border: 5px double var(--minimal);
    background-color: var(--secondary);
    height: 400px;
    max-width: 300px;
    margin: 20px;
    box-shadow: 8px 8px 6px -6px var(--secondary), inset 2px 0px 20px var(--minimal);
    color: var(--primary);

}
.card .card-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1;
}
.card .card-content label {
    padding: 0 5px;
}
.card .alert{
    border: 1px solid var(--minimal) ;
    /* background-color: #f00; */
    border-radius: 5px;
    color: var(--primary);
    height: 30px;
    width: 90%;
    margin: 15px 0;
    transition: background-color 0.2s, color 0.2s;
}
.card .alert:hover{
    cursor: pointer;
    background-color: #f00;
    color: var(--secondary);
}

/* add new book to library button */
 .main .newBtn{
    align-self: flex-start;
    text-align: center;
    margin: 20px 0 0 40px;
    padding: 12px 0 0 0;
    border: 2px solid var(--minimal);
    color: var(--secondary);
    height: 50px;
    width: 200px;
    font-size: 20px;
    transition: background-color 0.2s, color 0.2s;
}

.main .newBtn:hover{
    cursor: pointer;
    background-color: var(--secondary);
    color: var(--minimal);
}

.addNewBook{
    margin: 20px 0;
}
.addNewBook img{
    transform: rotate(0);
    transition: transform 0.5s;
}
.addNewBook img:hover{
    cursor: pointer;
    transform: rotate(180deg);
}
.addNewBook img+span{
    position: relative;
    width: max-content;
}
.addNewBook img:hover+span::after{
    content: 'Add a New Book!';
    width: max-content;
    position: absolute;
    top: -100%;
}
